<div class="container-search">
<form class="" action="/searchCity" method="post">
  <input type="text" name="country" value="" placeholder="enter the country name">
  <input type="text" name="city" value="" placeholder="enter the contry name ">
  <button type="submit" name="button">search</button>
</form>
</div>